---
layout: default
---
{% include header.html %}
<div class="posts-wrapper">
    {% for post in site.posts %}
        <div class="post">
            <div>
                {% if post.post-image %}
                <div class="post-img">
                    <img src="{{ post.post-image }}"/>
                </div>
                {% endif %}
                <div class="post-text">
                    <span class="date">{{ post.date | date: '%B %d, %Y' }}</span>
                    <h2>{{ post.title }}</h2>
                    <div class="post-content">{{ post.content }}</div>
                    <a href="{{ post.url | prepend: site.baseurl }}" class="continue">Continue reading</a>
                </div>
            </div>
        </div>
    {% endfor %}
</div>