<footer>
    <nav class="bottom-nav">
        <a href="http://www.tooploox.com/#start">Start</a>
        <a href="http://www.tooploox.com/#services">Services</a>
        <a href="http://www.tooploox.com/jobs">Jobs</a>
        <a href="http://www.tooploox.com/#story">Story</a>
        <a href="http://www.tooploox.com/#talk">Let's talk</a>
    </nav>
    <div class="text-center">
        <a href="/" class="logo-footer">
            <img src="/images/logo-footer.png">
        </a>
    </div>
</footer>
<script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
<script src="{{ '/js/index.js' | prepend: site.baseurl }}"></script>