<footer>
    <nav class="bottom-nav">
        <a href="http://tooploox.com/#services">Services</a>
        <a href="http://tooploox.com/portfolio">Portfolio</a>
        <a href="http://tooploox.com/#story">Story</a>
        <a href="http://tooploox.com//jobs">Jobs</a>
        <a href="http://blog.tooploox.com" disabled>Blog</a>
        <a href="http://tooploox.com/#talk">Let's talk</a>
    </nav>
    <div class="text-center">
        <a href="/" class="logo-footer svg-logo-footer"></a>
    </div>
</footer>
<script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
<script src="{{ '/js/index.js' | prepend: site.baseurl }}"></script>