<footer>
    <nav class="bottom-nav">
        <a href="http://tooploox.com/#services" title="A bit about what we do.">Services</a>
        <a href="http://tooploox.com/portfolio" title="A collection of projects we worked on.">Portfolio</a>
        <a href="http://tooploox.com/#story" title="Epic story of Tooploox's inception.">Story</a>
        <a href="http://tooploox.com//jobs" title="We're hiring!">Jobs</a>
        <a class="active" href="http://blog.tooploox.com" title="Esseys and articles on technologies, startups and business in general.">Blog</a>
        <a href="http://tooploox.com/#talk" title="We're always looking for challenging and fun gigs!">Let's talk</a>
    </nav>
    <div class="text-center">
        <a href="http://tooploox.com" class="logo-footer svg-logo-footer"></a>
    </div>
</footer>
<script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
<script src="{{ '/js/index.js' | prepend: site.baseurl }}"></script>
