<div class="sticky-menu sub-page">
    <div class="container">
        <div class="sticky-logo">
            <a href="/">
                <img src="/images/logo-sticky.png"/>
                <img class="sticky-tp" src="/images/tooploox.png"/>
            </a>
        </div>
        <label for="toggleMenu" class="menuTitle">
            <span></span>
            <span></span>
            <span></span>
        </label>
        <input type="checkbox" id="toggleMenu"/>
        <nav class="sticky-nav">
            <a href="/#start">Home</a>
            <a href="/#services">Services</a>
            <a href="/jobs">Jobs</a>
            <a href="/#story">Story</a>
            <a href="/#talk">Let's talk</a>
        </nav>
    </div>
</div>