<div class="sticky-menu sub-page">
    <div class="container">
        <div class="sticky-logo-container">
            <a href="http://tooploox.com">
                <div class="sticky-logo svg-logo-sticky"></div>
                <div class="sticky-tp svg-tooploox"></div>
            </a>
        </div>
        <label for="toggleMenu" class="menuTitle">
            <span></span>
            <span></span>
            <span></span>
        </label>
        <input type="checkbox" id="toggleMenu"/>
        <nav class="sticky-nav main-menu">
            <a href="http://tooploox.com/#services" title="A bit about what we do.">Services</a>
            <a href="http://tooploox.com/portfolio" title="A collection of projects we worked on.">Portfolio</a>
            <a href="http://tooploox.com/#story" title="Epic story of Tooploox's inception.">Story</a>
            <a href="http://tooploox.com//jobs" title="We're hiring!">Jobs</a>
            <a class="active" href="http://blog.tooploox.com" title="Esseys and articles on technologies, startups and business in general.">Blog</a>
            <a href="http://tooploox.com/#talk" title="We're always looking for challenging and fun gigs!">Let's talk</a>
        </nav>
    </div>
</div>
