<div class="sticky-menu sub-page">
    <div class="container">
        <div class="sticky-logo">
            <a href="/">
                <img src="/images/logo-sticky.png"/>
                <img class="sticky-tp" src="/images/tooploox.png"/>
            </a>
        </div>
        <label for="toggleMenu" class="menuTitle">
            <span></span>
            <span></span>
            <span></span>
        </label>
        <input type="checkbox" id="toggleMenu"/>
        <nav class="sticky-nav">
            <a href="http://www.tooploox.com/#start">Home</a>
            <a href="http://www.tooploox.com/#services">Services</a>
            <a href="http://www.tooploox.com/portfolio">Portfolio</a>
            <a href="http://www.tooploox.com/jobs">Jobs</a>
            <a href="http://blog.tooploox.com" disabled>Blog</a>
            <a href="http://www.tooploox.com/#story">Story</a>
            <a href="http://www.tooploox.com/#talk">Let's talk</a>
        </nav>
    </div>
</div>