$footerBgColor: #0c0f1f;
$footerHeight: 270px;

.wrapper {
  position: relative;
  min-height: 100%;
  @include media($largerThanXS) {
    padding-bottom: $footerHeight;
  }
}

footer {
  width: 100%;
  height: $footerHeight;
  background-color: $footerBgColor;
  @include media($largerThanXS) {
    position: absolute;
    bottom: 0;
  }
  @include media($xsScreen) {
    height: auto;
  }
}

.logo-footer {
  margin-top: 60px;
  display: inline-block;
  width: 50px;
  height: 50px;
  @include media($xsScreen) {
    margin-bottom: 35px;
  }
}
