---
layout: default
---
<div class="posts-wrapper">
    <div class="post">
        <div>
            {% if page.post-image %}
            <div class="post-img">
                <img src="{{ page.post-image }}"/>
            </div>
            {% endif %}
            <div class="post-text">
                <span class="date">{{ page.date | date: '%B %d, %Y' }}</span>
                <h2>{{ page.title }}</h2>
                <div class="text-justify">
                    {{ content }}
                </div>
            </div>
        </div>
    </div>
</div>