---
layout: default
---
<div class="posts-wrapper single-post">
    <div class="post">
        <div>
            {% if page.post-image %}
            <div class="post-img">
                <img src="{{ page.post-image }}"/>
            </div>
            {% endif %}
            <div class="post-author-container">
                <div class="author">
                    {% if page.author %}
                    <img src="/images/authors/{{ page.author }}.jpg"/>
                    <h2>{{ site.data.authors[page.author]['name'] }}</h2>
                    {% if site.data.authors[page.author]['github'] %}
                    <a href="https://github.com/{{ site.data.authors[page.author]['github'] }}" class="author-social" target="_blank">
                        <i class="fa fa-github"></i>
                    </a>
                    {% endif %}
                    {% if site.data.authors[page.author]['facebook'] %}
                    <a href="https://facebook.com/{{ site.data.authors[page.author]['facebook'] }}" class="author-social" target="_blank">
                        <i class="fa fa-facebook-official"></i>
                    </a>
                    {% endif %}
                    {% if site.data.authors[page.author]['twitter'] %}
                    <a href="https://twitter.com/{{ site.data.authors[page.author]['twitter'] }}" class="author-social" target="_blank">
                        <i class="fa fa-twitter"></i>
                    </a>
                    {% endif %}
                    {% else %}
                    <img src="/images/authors/{{ site.data.authors.default.name }}.png"/>
                    <h2>{{ site.data.authors.default.name }}</h2>
                    <a href="https://github.com/{{ site.data.authors.default.github }}" class="author-social" target="_blank">
                        <i class="fa fa-github"></i>
                    </a>
                    <a href="https://facebook.com/{{ site.data.authors.default.facebook }}" class="author-social" target="_blank">
                        <i class="fa fa-facebook-official"></i>
                    </a>
                    <a href="https://twitter.com/{{ site.data.authors.default.twitter }}" class="author-social" target="_blank">
                        <i class="fa fa-twitter"></i>
                    </a>
                    {% endif %}
                </div>
                <div class="post-text">
                    <span class="date">{{ page.date | date: '%B %d, %Y' }}</span>
                    <h2>{{ page.title }}</h2>
                    <div class="text-justify">
                        {{ content }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>